{% macro header(title, lead, gb_img="https://static.igem.wiki/teams/4712/wiki/rain.png", mode="") %}
<header class="bg-hero py-5 mb-5 cool-background {{mode}}" 
  style="background-image: url({{gb_img}})">
<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col-lg-12">
      <h1 class="display-4 text-white mt-5 mb-2" data-aos="fade-right">{{ title }}</h1>
      <p class="lead mb-5 text-white-50" data-aos="fade-right" data-aos-delay="300">{{lead}}</p>
    </div>
  </div>
</div>
</header>
{% endmacro %}