{% macro video(url) %}
<div class="container video-container" data-aos="fade-up"
  data-aos-delay="100">
  <video style="width:100%;" controls>
    <!-- mp4 video url -->
    <source src="{{url}}"> 
  </video>
</div>
{% endmacro %}