{% macro card(name, role, intro, avatar) %}
<div class="sms-profile-card col-xxl-3 col-lg-4 col-md-6 my-3">
  <div class="profile rounded-2"
    data-aos="zoom-in"
    data-aos-delay="100">
    <div class="avatar ratio ratio-1x1"
      style="background-image: url({{avatar}});">
    </div>
    <div class="details">
      <h3>{{name}}</h3>
      <p>{{role}}</p>
      <div class="text-light">
        {{intro}}
      </div>
    </div>
  </div>
</div>
{% endmacro %}