{% macro heading(name, desc) %}
<div class="sms-heading" data-aos="fade-down">
  <span>{{name}}</span>
  <h2>{{name}}</h2>
  <p>{{desc}}</p>
</div>
{% endmacro %}

{% macro md(name) %}
<div class="row my-5 markdown-wrapper g-5" >
  <div class="col-lg-3">
    <div class="markdown-contents"></div>
  </div>
  <div class="col-lg-9">
    <div class="markdown-body"></div>
  </div>
</div>
<script src="{{ url_for('static', filename = 'marked.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'md.js') }}"></script>
<script>
loaderMarkdown('{{name}}');
</script>
{% endmacro %}
