{% extends "layout.html" %}

<style>
  :root {
    --accent: blue;
  }
  h1, h2, h3, h4, h5 {
    color: red;
  }
</style>
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!--
i commented these off. dont delete -- might need future reference. xxq
  <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Describe how and why you chose your iGEM project.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
      <p>DDL 在六月 29！！！</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark/description">2022 DTU-Denmark</a></li>
      <li><a href="https://2019.igem.org/Team:ITESO_Guadalajara/Description">2019 ITESO Guadalajara</a></li>
      <li><a href="https://2020.igem.org/Team:Technion-Israel/Description">2020 Technion Israel</a></li>
      <li><a href="https://2020.igem.org/Team:Botchan_Lab_Tokyo/Description">2020 Botchan Lab Tokyo</a></li>
      <li><a href="https://2020.igem.org/Team:St_Andrews/Description">2020 St Andrews</a></li>
      <li><a href="https://2020.igem.org/Team:MIT/Description">2020 MIT</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Some advice</h2>
    <hr>
    <p>We encourage you to put up a lot of information and content on your wiki, but we also encourage you to include summaries as much as possible. If you think of the sections in your project description as the sections in a publication, you should try to be concise, accurate, and unambiguous in your achievements. Your Project Description should include more information than your project abstract.</p>
  </div>
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>iGEM teams are encouraged to record references you use during the course of your research. They should be posted somewhere on your wiki so that judges and other visitors can see how you thought about your project and what works inspired you.</p>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-4">
    <ul class="toc">
      <li><a href="#prob">Defining the Problem</a></li>
      <li><a href="impo">Importance and Necessity</a></li>
    </ul>
  </div>
  <div class="col-lg-8">
    <h1 id="prob">Defining the Problem</h1>
    <hr/>
    <p>Influenza A and influenza B are two kinds of epidemic diseases that are relatively easy to spread in China. We hope to use the CRISPR/Cas12 system combined with fluorescent signals to detect the presence of influenzas A and B from air samples in places prone to large-scale outbreaks of said influenzas (Kellner et al. vol.; Gootenberg et al. vol.), so as to accurately prevent and control the spread of influenzas A and B.</p>
    <h1 id="impo">Importance and Necessity</h1>
    <hr/>
    <div style="display: flex">
      <div style="background-color: #555;border-radius: 10px;padding: 10px;margin: 10px;">
        <p style="text-align:center;font-size: 22px;">Influenza A viruses</p>
        <p>... are further classified into subtypes according to the combinations of the hemagglutinin (HA) and the neuraminidase (NA), the proteins on the surface of the virus. Currently circulating in humans are subtype A(H1N1) and A(H3N2) influenza viruses.</p>
      </div>
      <div style="background-color: #555;border-radius: 10px;padding: 10px;margin: 10px;">
        <p style="text-align:center;font-size: 22px;">Influenza B viruses</p>
        <p>... are not classified into subtypes, but can be broken down into lineages. Currently circulating influenza type B viruses belong to either B/Yamagata or B/Victoria lineage.</p>
      </div>
    </div>
    <p>Worldwide, these annual epidemics are estimated to result in about 3 to 5 million cases of severe illness, and about 290 000 to 650 000 respiratory deaths.</p>
    <p>An estimated 1 billion people worldwide are infected by seasonal influenza every year. Out of those 1 billion, about 3-5 million people have a severe case of flu each year. Globally, an estimated 290,000 – 650,000 deaths occur due to flu each year.</p>
    <h2>References</h2>
    <hr/>
    <p><a href="baidu.com">a link</a></p>
  </div>
</div>

{% endblock %}
