{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM season!{%
  endblock %}

{% block banner_mode%}fullscreen{% endblock %}

{% block page_class_name %}page-home{% endblock %}

{% import 'macros/text.html' as mc_text %}
{% import 'macros/media.html' as mc_media %}

{% block page_content %}


<!-- <div id="bubble"
  style="position: absolute; width: 100px; height: 100px; background-color: red; border-radius: 50%; top: 100px;">this
  is a floating bubble</div> -->
<!-- <div class="row">
  <div class="col">
    <h2>Before you start</h2>
    <hr>
    <p>Please do not read the following pages:</p>
    <ul>
      <li><a href="https://competition.igem.org/deliverables/team-wiki"
          target="_blank">Wiki Requirements page</a></li>
      <li><a href="https://competition.igem.org/judging/pages-for-awards"
          target="_blank">Standard URL Pages for Awards</a></li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h2>Styling your wiki</h2>
    <hr>
    <p>Feel free to customize the page styling according to your preferences, or you can simply leave the style as it
      is. It's wise to focus on a clear content first, and on a clean design later.</p>
    <p>Be cautious with the size of the assets like images, videos, and more into your wiki. Large file sizes can hinder
      the presentation of wikis due to slow internet connections. Remember to compress large files before uploading them
      to iGEM servers.</p>
    <p>This default wiki meets the requirements, enhances navigability, and provides a user-friendly experience for
      visitors. You should not feel obliged to go beyond the provided styling.</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Tips</h2>
    <hr>
    <p>This wiki will be your team's first interaction with the rest of the world, so here are a few tips to help you
      get started:</p>
    <ul>
      <li>State your accomplishments! Tell people what you have achieved from the start.</li>
      <li>Be clear about what you are doing and how you plan to do this.</li>
      <li>You have a global audience! Consider the different backgrounds that your users come from.</li>
      <li>Make sure information is easy to find; nothing should be more than 3 clicks away.</li>
      <li>Avoid using very small fonts and low contrast colors; information should be easy to read.</li>
      <li>Start documenting your project as early as possible; don't leave anything to the last minute before the Wiki
        Freeze. For a complete list of deadlines visit the <a href="https://competition.igem.org/calendar"
          target="_blank">iGEM Competition calendar</a></li>
      <li>Have lots of fun!</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspiration</h2>
    <hr>
    <p>You can also view other team wikis for inspiration! Here are some examples:</p>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark">2022 DTU-Denmark</a></li>
      <li><a href="https://2022.igem.wiki/virginia">2022 Virginia</a></li>
      <li><a href="https://2022.igem.wiki/crete">2022 Crete</a></li>
      <li><a href="https://2022.igem.wiki/estonia-tuit">2022 Estonia_TUIT</a></li>
      <li><a href="https://2022.igem.wiki/ashesighana">2022 AshesiGhana</a></li>
      <li><a href="https://2021.igem.org/Team:SDU-Denmark">2021 SDU-Denmark</a></li>
      <li><a href="https://2020.igem.org/Team:XMU-China">2020 XMU China </a></li>
      <li><a href="https://2020.igem.org/Team:TAS_Taipei">2020 TAS Taipei </a></li>
    </ul>
  </div>
</div> -->


<section class="home-section mission mb-5 container">
  <div class="section-header">
    {{
    mc_text.heading(
    name="Our Mission",
    desc="Markdown is a lightweight markup language. It is designed to be a simple, lightweight way to add formatting without prior HTML experience."
    )
    }}
  </div>
</section>

<section id="counts"
  class="home-section counts container-fluid text-light">
  <div class="op-bg px-5">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center py-3">
        <span data-purecounter-start="0"
          data-purecounter-end="232"
          data-purecounter-duration="3"
          class="purecounter"></span>
        <p>Abc</p>
      </div>
  
      <div class="col-lg-3 col-6 text-center py-3">
        <span data-purecounter-start="0"
          data-purecounter-end="521"
          data-purecounter-duration="3"
          class="purecounter"></span>
        <p>Cde</p>
      </div>
  
      <div class="col-lg-3 col-6 text-center py-3">
        <span data-purecounter-start="0"
          data-purecounter-end="1463"
          data-purecounter-duration="3"
          class="purecounter"></span>
        <p>Efg</p>
      </div>
  
      <div class="col-lg-3 col-6 text-center py-3">
        <span data-purecounter-start="0"
          data-purecounter-end="15"
          data-purecounter-duration="3"
          class="purecounter"></span>
        <p>Ghi</p>
      </div>
  
    </div>
  </div>
</section>

<section class="home-section mb-5 container">
  <div class="section-header">
    {{
    mc_text.heading(
    name="It's a Video"    )
    }}
  </div>

  {{
    mc_media.video(url="https://static.igem.org/mediawiki/2020/4/43/T--TAS_Taipei--PromoVideo.mp4")
  }}
</section>

<section class="home-section mb-5 container">
  <div class="section-header">
    {{
    mc_text.heading(
    name="How it works",
    desc="Feel free to customize the page styling according to your preferences, or you can simply leave the style as it
    is. It's wise to focus on a clear content first, and on a clean design later."
    )
    }}
  </div>

  <div class="pb-5 mb-5">
    <div class="row align-items-center">
      <div class="col-md-4 me-auto">
        <h2 class="mb-4">Seamlessly Communicate</h2>
        <p class="mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit
          optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
          dolore mollitia esse natus beatae.</p>
        <p><a class="text-success"
            href="#">Read More</a></p>
      </div>
      <div class="col-md-6"
        data-aos="fade-left">
        <img src="./static/img/undraw_svg_2.svg"
          alt="Image"
          class="img-fluid">
      </div>
    </div>
  </div>

  <div class="pb-5 mb-5">
    <div class="row align-items-center">
      <div class="col-md-4 ms-auto order-2">
        <h2 class="mb-4">Gather Feedback</h2>
        <p class="mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit
          optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
          dolore mollitia esse natus beatae.</p>
        <p><a class="text-success"
            href="#">Read More</a></p>
      </div>
      <div class="col-md-6"
        data-aos="fade-right">
        <img src="./static/img/undraw_svg_3.svg"
          alt="Image"
          class="img-fluid">
      </div>
    </div>
  </div>

  <div class="pb-5 mb-5">
    <div class="row align-items-center">
      <div class="col-md-4 me-auto">
        <h2 class="mb-4">Present Designs Inspiration</h2>
        <p class="mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit
          optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
          dolore mollitia esse natus beatae.</p>
        <p><a class="text-success"
            href="#">Read More</a></p>
      </div>
      <div class="col-md-6"
        data-aos="fade-left">
        <img src="./static/img/undraw_svg_3.svg"
          alt="Image"
          class="img-fluid">
      </div>
    </div>
  </div>

  <div class="pb-5 mb-5">
    <div class="row align-items-center">
      <div class="col-md-4 ms-auto order-2">
        <h2 class="mb-4">Powerful App Design </h2>
        <p class="mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit
          optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt
          dolore mollitia esse natus beatae.</p>
        <p><a class="text-success"
            href="#">Read More</a></p>
      </div>
      <div class="col-md-6"
        data-aos="fade-right">
        <img src="./static/img/undraw_svg_4.svg"
          alt="Image"
          class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="home-section nav-block container">
  <div class="section-header">
    {{
    mc_text.heading(
    name="Learn More",
    desc="Feel free to customize the page styling according to your preferences, or you can simply leave the style as
    it
    is. It's wise to focus on a clear content first, and on a clean design later."
    )
    }}
  </div>

  <div class="row gy-5">
    <div class="col-xl-4 col-md-6"
      data-aos="zoom-in"
      data-aos-delay="200">
      <div class="service-item">
        <div class="img">
          <img src="static/img/services-6.jpg"
            class="img-fluid"
            alt="">
        </div>
        <div class="details position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <a href="{{ url_for('pages', page='team') }}"
            class="stretched-link">
            <h3>Team</h3>
          </a>
          <p class="text-muted">Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
            iure
            perferendis.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6"
      data-aos="zoom-in"
      data-aos-delay="300">
      <div class="service-item">
        <div class="img">
          <img src="static/img/services-6.jpg"
            class="img-fluid"
            alt="">
        </div>
        <div class="details position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <a href="{{ url_for('pages', page='contribution') }}"
            class="stretched-link">
            <h3>Project</h3>
          </a>
          <p class="text-muted">Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque
            eum hic non ut
            nesciunt dolorem.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6"
      data-aos="zoom-in"
      data-aos-delay="400">
      <div class="service-item">
        <div class="img">
          <img src="static/img/services-6.jpg"
            class="img-fluid"
            alt="">
        </div>
        <div class="details position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <a href="{{ url_for('pages', page='safety') }}"
            class="stretched-link">
            <h3>Safety</h3>
          </a>
          <p class="text-muted">Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id
            voluptas adipisci
            eos earum corrupti.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6"
      data-aos="zoom-in"
      data-aos-delay="500">
      <div class="service-item">
        <div class="img">
          <img src="static/img/services-6.jpg"
            class="img-fluid"
            alt="">
        </div>
        <div class="details position-relative">
          <div class="icon">
            <i class="bi bi-bounding-box-circles"></i>
          </div>
          <a href="{{ url_for('pages', page='human-practices') }}"
            class="stretched-link">
            <h3>HUMAN PRACTICES</h3>
          </a>
          <p class="text-muted">Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga
            sit provident
            adipisci neque.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6"
      data-aos="zoom-in"
      data-aos-delay="600">
      <div class="service-item">
        <div class="img">
          <img src="static/img/services-6.jpg"
            class="img-fluid"
            alt="">
        </div>
        <div class="details position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <a href="{{ url_for('pages', page='education') }}"
            class="stretched-link">
            <h3>AWARDS</h3>
          </a>
          <p class="text-muted">Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut.
            Sed animi at
            autem alias eius labore.</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6"
      data-aos="zoom-in"
      data-aos-delay="700">
      <div class="service-item">
        <div class="img">
          <img src="static/img/services-6.jpg"
            class="img-fluid"
            alt="">
        </div>
        <div class="details position-relative">
          <div class="icon">
            <i class="bi bi-chat-square-text"></i>
          </div>
          <a href="{{ url_for('pages', page='attributions') }}"
            class="stretched-link">
            <h3>Attributions</h3>
          </a>
          <p class="text-muted">Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure.
            Corrupti
            recusandae ducimus enim.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <script>
  // just a draft!
  let bb = document.getElementById('bubble');
  let sine = 0;
  let qq = setInterval(() => { bb.style.top = (Math.sin(sine) * 25 + 100) + 'px'; sine += 0.1 }, 80);
  // Math.sin(sine) * (amplitude) + (original position) + 'px'; sine += (gap between frames, 0.1 recommended)
</script> -->
{% endblock %}