{% extends "layout.html" %}

{% block title %}SMS{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_class_name %}page-team{% endblock %}

{% import 'macros/profile.html' as mc_profile %}
{% import 'macros/text.html' as mc_text %}

{% block page_content %}

{{
  mc_text.heading(
    name="Team", 
    desc="We are a team composed of 12 undergraduate students from the University of Virginia. "
  )
}}

<div class="container text-center">
  <h2 class="sms-text-primary">Group I</h2>
  <div class="row mb-5">
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
  </div>
</div>
<div class="container text-center">
  <h2 class="sms-text-primary">Group II</h2>
  <div class="row ">
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
    {{mc_profile.card()}}
  </div>
</div>
{% endblock %}
