<footer id="footer"
  class="footer mt-5">
  <div class="container-fluid text-white sms-bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <img src="static/img/logo.png" alt="Logo" width="100" class="mb-2">
          <h3>SMS-Shenzhen</h3>
          <p>1068 Nigang West Road, Luohu District, Shenzhen,China 518001</p>
          <p>SMS_Shenzhen@163.com</p>
        </div>
        <div class="col-lg-8 col-xs-12">
          <h4 class="mt-lg-0 mt-sm-3">Links</h4>
          <ul class="m-2 p-2">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Nam mauris velit</a></li>
            <li><a href="#">Etiam vitae mauris</a></li>
            <li><a href="#">Fusce scelerisque</a></li>
            <li><a href="#">Sed faucibus</a></li>
            <li><a href="#">Mauris efficitur nulla</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="row">
      <div class="col">
        <p class="mb-0"><small>© 2023 - Content on this site is licensed under a <a class="subfoot"
              href="https://creativecommons.org/licenses/by/4.0/"
              rel="license">Creative Commons Attribution 4.0 International license</a>.</small></p>
        <p><small>The repository used to create this website is available at <a href="/your own url">your own
              url</a>.</small></p>
      </div>
    </div>
  </div>
</footer>