<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/logo.png') }}"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap icons CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-icons.css') }}">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'animate.min.css') }}" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'aos.css') }}" />

    <!--Page inject  -->
    {% block page_header %}{% endblock %}

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | SMS-Shenzhen - iGEM 2023</title>
</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}
  {% include 'components/preloader.html' %}
  <!-- Header -->
  <header class="bg-hero py-5 mb-5 cool-background {% block banner_mode %}{% endblock %}" 
    style="background-image: url(
      {% block bg_img %}https://static.igem.wiki/teams/4712/wiki/rain.png{% endblock %}
    )">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2" data-aos="fade-right">{{ self.title() }}</h1>
	        <p class="lead mb-5 text-white-50" data-aos="fade-right" data-aos-delay="300">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="page-content container {% block page_class_name %}{% endblock %}">
    {% block page_content %}{% endblock %}
  </div>

  {% include './components/go-top.html' %}

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- venders -->
  <script src="{{ url_for('static', filename = 'purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'aos.js') }}"></script>
  <script src="{{ url_for('static', filename = 'app.js') }}"></script>
</body>
</html>
