:root {
  --sms-color-primary: #08C784;
  --sms-color-primary-rgb: 8, 199, 132;
  --sms-color-primary-light: #3cc19e;
  --text-color: #fff;
}

.left-aligned {
  margin-left: auto;
}

.bg-hero {
  background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

/* nav bar */
.navbar {
  /* background-color: #000 !important; */
}

.navbar-dark .navbar-nav .nav-link {
  color: #fffb !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
}

.dropdown-menu {
  min-width: 0;
  padding: 0.25rem;
  color: #000;
  border: 0;
  background-color: var(--bs-light) !important;
}

/*body*/
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

a {
  text-decoration: none;
}

/* toc */
.toc {
  position: sticky;
  top: 76px;
  background-color: #555;
  border-radius: 10px;
  padding: 10px;
}

.toc ul {
  margin: 0;
}

/* cool-ass background */
.cool-background {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.cool-background.fullscreen {
  height: 100vh !important;
}

/* header start -------- */
#header {
  height: 90px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
  transition-duration: 0.5s;
  transition-property: height, background-color;
  padding: 0;
}

#header.header-scrolled {
  background-color: var(--sms-color-primary);
  height: 60px;
  backdrop-filter: blur(6px);
}

@media (max-width: 992px) {
  #header .navbar-collapse {
    background-color: var(--bs-light);
    padding: 20px;
    border-radius: 6px;
  }

  #header.navbar-dark .navbar-nav .nav-link {
    color: var(--bs-dark) !important;
  }
}

/* header end */

/* footer */
#footer .container-fluid a {
  color: var(--bs-light);
}

#footer a:hover {
  text-decoration: underline;
}

/* footer end */

/* profile card */
.sms-profile-card .profile {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.sms-profile-card .profile .avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sms-profile-card .profile .details {
  background: rgba(19, 20, 21, 0.8);
  position: absolute;
  left: 0;
  bottom: -60px;
  right: 0;
  text-align: center;
  padding: 8px 0;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--bs-light);
}

.sms-profile-card .profile .details h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.sms-profile-card .profile .details p {
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: center;
  color: var(--sms-color-primary);
}

.sms-profile-card .profile .details .intro i {
  line-height: 0;
  margin: 0 2px;
}

.sms-profile-card .profile .details a {
  color: var(--bs-light);
}

.sms-profile-card .profile .details a:hover {
  color: #f82249;
}

.sms-profile-card .profile:hover .details {
  bottom: 0;
}

/* profile card end */

/* heading */
.sms-heading {
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  position: relative;
}

.sms-heading h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--sms-color-primary);
  position: relative;
  z-index: 2;
}

.sms-heading span {
  position: absolute;
  top: 30px;
  color: rgba(var(--sms-color-primary-rgb), .08);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
  user-select: none;
}

.sms-heading p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .sms-heading h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .sms-heading span {
    font-size: 38px;
  }
}

/* heading end */

/* nav-block */
.nav-block .img {
  border-radius: 8px;
  overflow: hidden;
}

.nav-block .img img {
  transition: 0.6s;
}

.nav-block .details {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: var(--bs-light);
  position: relative;
  background: rgba(var(--bs-light-rgb), 0.9);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(var(--bs-dark-rgb), 0.1);
}

.nav-block .details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: var(--sms-color-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--bs-light);
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid var(--bs-light);
}

.nav-block .details h3 {
  color: var(--sms-color-primary);
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.nav-block .details p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.nav-block .service-item:hover .details h3 {
  color: var(--sms-color-primary);
}

.nav-block .service-item:hover .details .icon {
  background: var(--bs-light);
  border: 2px solid var(--sms-color-primary);
}

.nav-block .service-item:hover .details .icon i {
  color: var(--sms-color-primary);
}

.nav-block .service-item:hover .img img {
  transform: scale(1.2);
}

/* nav-block end */


/* page-home */
.page-home.page-content {
  padding-left: 0;
  padding-right: 0;
  max-width: unset !important;
}

.home-section {
  overflow: hidden;
}

/* page-home end */

/* home counts */
.counts {
  padding: 0;
  color: #fff;
  background: url(./img/lab.jpg) no-repeat center;
  background-size: cover;
}

.counts .op-bg {
  padding: 80px 0 80px 0;
  background: rgba(0,0,0, .4);
}

.counts .counters span {
  font-size: 36px;
  display: block;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* home counts end */

/* preloader */
#preloader {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  overflow: hidden;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

#preloader:before {
  background-image: linear-gradient(0deg, var(--sms-color-primary) 100%, var(--sms-color-primary-light) 10%);
}

#preloader:after {
  background-image: linear-gradient(270deg, var(--sms-color-primary-light) 10%, var(--sms-color-primary) 100%);
  left: auto;
  right: 0;
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 3px;
  height: 280px;
  transition: all 0.8s ease 0s;
}

#preloader .line:before {
  content: "";
  position: absolute;
  background-color: var(--bs-light);
  left: 0;
  top: 50%;
  width: 3px;
  height: 0%;
  transform: translateY(-50%);
  animation: lineincrease 1000ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: "";
  position: absolute;
  background-color: var(--bs-light-bg-subtle);
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  transform: translateY(-100%);
  animation: linemove 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}

/* preloader end */


/* back to top */
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--bs-danger);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--bs-light);
  line-height: 0;
}

/* back to top end */

/* markdown */
.markdown-wrapper .markdown-contents a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 2;
}

.markdown-wrapper .markdown-body .anchor {
  margin-top: -160px;
}

.markdown-wrapper .markdown-body,
.markdown-wrapper img {
  background-color: transparent;
}

.markdown-wrapper .image-block > div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.markdown-wrapper .image-block > div > div {
  align-self: center;
}


.markdown-contents .contents-children {
  padding-left: 1em;
}

.markdown-contents {
  position: sticky;
  top: 100px;
  z-index: 1;
}

/* markdown end */


/* utils */
.sms-text-primary {
  color: var(--sms-color-primary);
}

.sms-bg-primary {
  background-color: var(--sms-color-primary);
  ;
}

/* utils end */